<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache" content="no-cache" />
    <meta http-equiv="expires" content="0" />
	<title>选择充值方式</title>
	<meta name="frontend" content="Robin">
	<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/h5/style.css?{{$CONFIG.build}}" />
	<style> .pay-close { display: none; } </style>
</head>
<body>
	<div class="wrapper mod-pay">
		<div class="pay-hd">
       		<a href="javascript:payClose();" class="pay-close icon-close"></a>
			<!-- <img src="{{$CONFIG.resource}}/images/2017/h5/logo_w.png?{{$CONFIG.build}}" alt=""> -->
		</div>
		<div class="pay-info">
			<p>商品：{{$product}}</p>
			<p>应付款：<span>{{$amount}}元</span></p>
		</div>
		<div class="pay-mod">
			<form id="pay-form" action="{{$CONFIG.app_url}}/pay.php" method="post" target="_blank">
				<div class="pay-mod-tit">支付方式</div>
				<ul id="pay-list">
					{{foreach from=$pay_array key=k item=v}}
					{{if empty($v.name) || $v.hide == 1}}{{continue}}{{/if}}
					<li id="pay-{{$k}}" class="flex" onClick="select_payway({{$k}})"><i pid="{{$k}}"></i><span class="flex-list">{{$v.name}}</span><em class="icon-arrr"></em></li>
					{{/foreach}}
				</ul>

				<input type="hidden" name="pid" value="{{$pid}}" id="pid" />
				<input type="hidden" name="gid" value="{{$gid}}" id="gid" />
				<input type="hidden" name="sid" value="{{$sid}}" id="sid" />
				<input type="hidden" name="uname" id="uname" value="{{$uname}}" />
				<input type="hidden" name="amount" id="amount" value="{{$amount}}" />
				<input type="hidden" name="extra_info" id="extra_info" value="{{$extra_info}}" />
				<input type="hidden" name="referer" value="{{$smarty.const.HTTP_REFERER}}" />
				<input type="hidden" name="device_info" value="9377SDK" />
				<input type="hidden" name="mch_app_name" value="{{$G.NAME}}" id="name" />
				<input type="hidden" name="mch_app_id" value="com.h59377.game.{{$G.ALIAS}}" />
				<input type="hidden" name="attach_data" value="{{$attach_data}}" />
			</form>
		</div>
		<div class="pay-tip">
			<p>温馨提示：</p>
			<p>1.充值成功后点击右上角“取消”按钮即可返回游戏；</p>
			<p>2.若要再次充值，请先返回到游戏中核实上一笔充值是否已到账，避免重复发起充值造成充值不到账情况发生；</p>
			<p>3.若充值遇到任何问题请联系<span onClick="window.parent.H9377.kfOnline()">在线客服</span>进行处理。</p>
			{{if in_array($gid,array(1369,1180,1444,1348,1357,1363))}}
			<p>客服QQ：3388099926 </p>
			<p>客服电话：18127969906</p>
			{{/if}}
		</div>
		<div onClick="maskClose()" class="pay-mask"></div>
	</div>
	{{include file="h5/footer.html"}}

<script type="text/javascript">
	if (/micromessenger/i.test(navigator.userAgent)) {
		var lastEI = $_GET['extra_info'];
		$('#last-ei').html(lastEI);
		$('#coki-ei').html(getCookie('lastEI'));
		$('#ntime').html(new Date());
		if (lastEI == getCookie('lastEI')) {
			window.history.go(-1);
		}else{
			C9377.setcookie('lastEI',$_GET['extra_info'],(new Date('2099-12-30 08:00:00')/1000))
		}
	}
	// 根据充值id设置icon
	var icon_list = {
		ali : ['67', '88'], //支付宝id
		wx : ['70', '76', '85', '127'], //微信id
		qq : ['91'] //qq钱包
	}
	$('#pay-list i').each(function(){
		var pid = $(this).attr('pid');
		if ($.inArray(pid, icon_list.ali) >= 0) {
			$(this).addClass('icon-payali');
		}
		if ($.inArray(pid, icon_list.wx) >= 0) {
			$(this).addClass('icon-paywx');
		}
		if ($.inArray(pid, icon_list.qq) >= 0) {
			$(this).addClass('icon-qqqb');
		}
	});
	// 充值类型选择
	var mask_timer;
	function select_payway(id){
		if (id == 67 || id == 85 || id == 127) {
			try {
				// 跳APP支付
				var param = {
					'userID' : $('#uname').val(),
					'total_fee' : $('#amount').val(),
					'gid' : $('#gid').val(),
					'sid' : '{{$S._SID}}',
					'extra_info' : $('#extra_info').val(),
					'game' : $('#name').val(),
					'product' : '{{$product}}'
				}
				param = JSON.stringify(param);
				if (id == 67) {
					window.Pay.doAliPay(param);
					maskOpen();
				}else if (id == 85) {
					window.Pay.doWXPay(param);
					maskOpen();
				}else if (id == 127) {
					window.Pay.doOfficeWXPay(param);
					maskOpen();
				}
			} catch(e) {
				payOnWeb(id);
				console.log(e);
			}
		}else{
			payOnWeb(id);
		}
	}
	function payOnWeb(id){
		if( id > 0 ) {
			$('#pid').val(id);
			$('#pay-form').submit();
			// 加载弹窗 优化充值流程
			maskOpen();
		}
	}

	$(function(){
		if(/mobile/i.test(navigator.userAgent)){
			$('#pay-76').remove();
		}else{
			$('#pay-85').remove();
			$('#pay-67').remove(); //PC隐藏支付宝钱包
		}
		
		if(/micromessenger/i.test(navigator.userAgent)){
			$('#pay-form').attr('target', '');
			$('#pay-67, #pay-85, #pay-88, #pay-127').remove();
		}else{
			$('#pay-70').remove();
		}
		if(/iPhone/i.test(navigator.userAgent)){
			$('#pay-91').remove();
		}
		
		{{if stripos($user.REFERER, 'tx_') === false}}
			$('#pay-91').remove();
		{{/if}}
	});
	// 打开loading弹窗
	function maskOpen(){
		clearTimeout(mask_timer);
		$('.pay-mask').show();
		$('.pay-close').hide();
		mask_timer = setTimeout(function(){
			// maskClose();
			payClose();
		}, 10000);
		// window.parent.postMessage('{"event":"jumpToPay"}','*');
	}
	// 关闭loading弹窗 || 为防止透传旧信息，点击一次充值方式后，无法再点击充值。点击灰色遮罩关闭充值界面 2018年6月29日 14:39:34
	function maskClose(){
		payClose();
		// $('.pay-mask').hide();
		// $('.pay-close').show();
	}
	// 关闭充值弹窗
	function payClose(){
		try {
			if (H9377.OS().name == 'Android') {
                andClosePayUI();
            }else{
            	try {
        			calliPhoneNative('get_end',{'status':1}); //2017.12.08之后ios端使用
            	} catch(e) {
					get_end();
            		console.log(e);
            	}
            }
            function andClosePayUI(){
            	window.Pay.closePayUI();
            }
		} catch(e) {
			window.parent.postMessage('{"event":"closePayIframe"}','*');
		}
	}
	// 客户端webview下隐藏右上角关闭按钮
	if (document.referrer) {
		$('.pay-close').show();
	}
	// 禁止页面滑动
	document.querySelector('body').addEventListener('touchmove', function (e) {e.preventDefault(); });
</script>
</body>
</html>