<!DOCTYPE html>
<html class="J1000">
<head>
	<meta charset="utf-8">
	<title>{{$title}} | {{if $CATEGORY.id != '11219'}}9377{{/if}}{{$typename}}</title>
	<meta name="keywords" content="{{$keywords}}" />
	<meta name="description" content="{{$description}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
	<meta name="renderer" content="webkit" />
	<link href="{{$CONFIG.resource}}/style/2017/common.css?{{$CONFIG.build}}" rel="stylesheet" type="text/css" />
	<link href="{{$CONFIG.resource}}/style/cms_style_2015/news2.css?{{$CONFIG.build}}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/ajax.js?{{$CONFIG.build}}"></script>
</head>
<body>
	{{include file="header.html"}}
	
	<div class="news_wrapper">
		<div class="news_bg">
			{{$DATA["资讯中心_背投广告2"]}}
		</div>
		<div class="news_wrap">
			{{include file="/information/article_header.html"}}
			<div class="hot_cur">当前位置：<a href="{{$CONFIG.url}}">首页</a> &gt;&gt; {{$position}}</div>
			<div class="fix">
				{{include file="/information/article_slider.html"}}
				<div class="news_column fl">
					<div class="article_txt bgb">
						<h1 class="hot_tit">{{$typename}}</h1>
						<ul>
							{{foreach from=$artlist item=item}}
							<li>
								<div class="art_img">
									<img src="{{$CONFIG.resource}}/{{if !empty($item.picurl)}}{{$item.picurl}}{{else}}images/cms_style_2015/news/art_img.jpg{{/if}}" width="157" height="114" />
								</div>
								<div class="art_con">
									<h2><a href="{{$item.artlink}}" target="_blank">{{$item.title}}</a></h2>
									<div class="art_tips"><span>栏目：{{$typename}}</span><span>作者：{{if $item.author}}{{$item.author}}{{else}}9377平台{{/if}}</span><span>时间：{{$item.adddate|date_format:'%Y-%m-%d'}}</span></div>
									<p class="art_txt"><a href="{{$item.artlink}}" target="_blank">{{$item.description|truncate:76}}</a></p>
									<div class="art_btn"><a href="{{$item.artlink}}" target="_blank">点击阅读</a></div>
								</div>
							</li>
							{{/foreach}}
						</ul>
					</div>
					<div class="turn_page">
						{{$pagelist}}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{include file="footer.html"}}

	<script> var menuID = 7, fixedSize = false; </script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/common.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/jquery.SuperSlide.2.1.1.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript">
		$(".sideMen").slide({titCell:".sidedt",targetCell:".sidedd",defaultIndex:0,effect:"slideDown",delayTime:300});
		$(".scroll_rank,.scroll_open").slide({titCell:".hd ul",mainCell:".bd .scroll_txt",autoPage:true,effect:"left",vis:1}); 
		$('.top_menu ul li').eq(6).find('a').addClass('on'); //导航
	</script>
</body>
</html>
