<!DOCTYPE html>
<html class="J1000">
<head>
    <meta charset="utf-8">
    <title>{{$row.title}}|{{$row.keyword}}-9377{{$typename}}</title>
    <meta name="keywords" content="{{$row.keyword}}" />
    <meta name="description" content="{{$row.description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit" />
    <link href="{{$CONFIG.resource}}/style/2017/common.css?{{$CONFIG.build}}" rel="stylesheet" type="text/css" />
    <link href="{{$CONFIG.resource}}/style/cms_style_2015/news.css?{{$CONFIG.build}}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{$CONFIG.resource}}/js/ajax.js?{{$CONFIG.build}}"></script>
</head>
<body>
    {{include file="header.html"}}
    
    <div id="news_box" style="background:#f3f3f3; padding:0px;">
    	<div class="news_main fix" style="background:none;">
        	<div class="main_banner">{{data name="广告位1000*80_3"}}{{$DATA["广告位1000*80_3"]}}</div>
        	<div class="news_show">
            	<h4><span>{{$typename}}</span>当前位置：{{$position}}</h4>
            	<div class="tit">
                	<h1>{{$row.title}}</h1>
                	<p>作者：{{if $row.author}}{{$row.author}}{{else}}9377平台{{/if}}    日期：{{$row.adddate|date_format:'%Y/%m/%d'}}</p>
                </div>
                <div class="txt">
                	{{$body}}
                    <div class="like_btn fix">
                        <h4>亲，看完本篇文章你有何感受？赶快来表个态吧！</h4>
                        <ul>
                            <li>
                            	<h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click1">0</span>
                                    	<em style="height:1px;" class="hclick1"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="1">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/1.jpg?{{$CONFIG.build}}" />
                                    超赞
                                </a>
                            </li>
                            <li>
                           	  <h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click2">0</span>
                                    	<em style="height:1px;"  class="hclick2"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="2">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/2.jpg?{{$CONFIG.build}}" />
                                	欢呼
                           		</a>
                            </li>
                            <li>
                           	  <h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click3">0</span>
                                    	<em style="height:1px;"  class="hclick3"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="3">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/3.jpg?{{$CONFIG.build}}" />
                                	难过
                            	</a>
                            </li>
                            <li>
                           	  <h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click4">0</span>
                                    	<em style="height:1px;"  class="hclick4"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="4">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/4.jpg?{{$CONFIG.build}}" />
                                	愤怒
                            	</a>
                            </li>
                            <li>
                           	  <h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click5">0</span>
                                    	<em style="height:1px;"  class="hclick5"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="5">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/5.jpg?{{$CONFIG.build}}" />
                                	恶心
                            	</a>
                            </li>
                            <li>
                           	  <h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click6">0</span>
                                    	<em style="height:1px;"  class="hclick6"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="6">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/6.jpg?{{$CONFIG.build}}" />
                                	期待
                            	</a>
                            </li>
                            <li>
                           	  <h3>
                                    <p class="vote_bar">
                                    	<span class="vote_num click7">0</span>
                                    	<em style="height:1px;"  class="hclick7"></em>
                                    </p>
                                </h3>
                            	<a href="javascript:;" class="clickitem" clickid="7">
                                	<img src="{{$CONFIG.resource}}/images/cms_style_2015/news/7.jpg?{{$CONFIG.build}}" />
                                	关我屁事
                            	</a>
                            </li>
                        </ul>
                        <script type="text/javascript">
                        	$.getJSON('{{$CONFIG.app_url}}/api/article_user_click.php?aid={{$row.id}}&callback=?', function(json){
                        		var html = '';
                        		window['clicks_total'] = 0;
                        		for( i in json.clicks ) {
                        			if( false != (tmp = i.match(/click(\d+)/)) ) {
                        				window['clicks_total'] += parseInt(json.clicks[i]);
                        				$('.click'+tmp[1]).html(json.clicks[i]);
                        				if( json.heights[i] > 1 ) {
                        					$('.hclick'+tmp[1]).css('height', json.heights[i]);
                        				}
                        			}
                        		}
                        		$('#article_click').html(html);
                        		
                        		$(function(){
                        			var clickitem = false;
                        			$('.clickitem').live('click', function(){
                        				if( $_COOKIE['article_clicks_{{$row.id}}'] ) {
                        					alert('您已表态，请勿重复表态');
                        					//return false;
                        				}else if( clickitem == false) {
                        					clickitem = true;
                        					var clickid = $(this).attr('clickid');
                        					$.getJSON('{{$CONFIG.app_url}}/api/article_user_click.php?act=add&aid={{$row.id}}&clickid='+clickid+'&callback=?', function(json){
                        						alert(json.msg);
                        						clickitem = false;
                        						if( json.status == true ) {
                        							$('.click'+clickid).html(
                        								current_clicks = parseInt($('.click'+clickid).html())+1
                        							);
                        							window['clicks_total']++;
                        							set_heights();
                        							C9377.setcookie('article_clicks_{{$row.id}}', 1);
                        						}
                        					});
                        				}
    									return false;
                        			});
                        		});

    							function set_heights() {
    								for(i = 1; i <= 7; i++) {
    									var current_clicks = parseInt($('.click'+i).html());
    									var current_heights = parseInt((current_clicks/window['clicks_total'])*58);
    									current_heights = current_heights >= 1 ? current_heights : 1;  
    									$('.hclick'+i).css(
    										'height', 
    										current_heights
    									);
    								}
    							}
                        	});
                        </script>
                    </div>
                    <div class="share">
                    	<div class="bdsharebuttonbox" style="float:right;">
                            <a title="分享到QQ好友" class="bds_sqq" href="#" data-cmd="sqq"></a>
                            <a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
                            <a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
                            <a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
                            <a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
                            <a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
                            <a class="bds_more" href="#" data-cmd="more"></a>
                        </div>
                        <script type="text/javascript">
                            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["sqq","tsina","weixin","qzone","tqq","renren"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["sqq","tsina","weixin","qzone","tqq","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                        </script>
                    </div>
                </div>
    			<!-- 上下篇文章 -->
    			<div class="article_next">{{$prev_next_page}}</div>
    			<!-- 上下篇文章结束 -->
                <div class="woder fix">
                	<dl>
                    	<dt><span>猜你喜欢</span></dt>
                        <dd class="list">
                        	{{data name="猜你喜欢"}}{{$DATA["猜你喜欢"]}}
                        	<!--{{foreach from=$DATA["猜你喜欢"].list item="v"}}
                        	<p><a href="{{$v.typelink}}" target="_blank">【{{$v.typename}}】</a><a href="{{$v.artlink}}" target="_blank">{{if $v.shorttitle}}{{$v.shorttitle}}{{else}}{{$v.title}}{{/if}}</a></p>
                           	{{/foreach}}-->
                        </dd>
                    </dl>
                    <dl>
                    	<dt><span>大家都在玩</span></dt>
                    	{{data name="大家都在玩"}}
                        <dd style="padding:0px;">
                        	<ul class="game">
                        		{{foreach from=$DATA["大家都在玩"].list item="v"}}
                            	<li>
                                	<a href="{{$v.CONFIG['site']}}" target="_blank">
                                	{{data name="大家都在玩_140_104_{{$v.ALIAS}}"}}
                                	{{$DATA["大家都在玩_140_104_{{$v.ALIAS}}"]}}	
                                	</a>
                                    <span><a href="{{$v.CONFIG['site']}}" target="_blank">{{$v.NAME}}</a></span>
                                    <p>{{$v.SHORT_DESCRIPTION|truncate:30}}</p>
                                </li>
                            	{{/foreach}}
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="info_box">
            	<dl>
                	<span class="icon"></span>
                	<dt><span>游戏排行</span></dt>
                	{{data name="游戏排行"}}
                    <dd class="games_rank" id="games_rank" style="height:auto; border:none; padding:0px; margin:0px;">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <th style="width:40%;">游戏名称</th>
                            <th>服数</th>
                            <th>日期</th>
                            <th>时间</th>
                          </tr>
                          {{foreach from=$DATA["游戏排行"].list item="v"}}
                          <tr>
                            <td><a href="{{$v.CONFIG.site}}" target="_blank" class="cred bule_color">{{if $v.NAME == '雷霆之怒绿色版'}}雷霆之怒{{else}}{{$v.NAME}}{{/if}}</a></td>
                            <td>{{$v.NEW_SERVER}}</td>
                            <td>{{$v.servers.0.SERVER_START_TIME|date_format:'%m-%d'}}</td>
                            <td>{{$v.servers.0.SERVER_START_TIME|date_format:'%H:%M'}}</td>
                          </tr>
                          {{/foreach}}
                        </table>
                    </dd>
                </dl>
                <div class="inside_banner">{{data name="广告位280*80_4"}}{{$DATA["广告位280*80_4"]}}</div>
                <dl>
                	<dt><span>开服列表</span><a href="#" target="_blank">+更多</a></dt>
                	{{data name="新版开服列表"}}
                    <dd class="games_rank" id="games_rank" style="height:auto; border:none; padding:0px; margin:0px;">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <th style="width:40%;">游戏名称</th>
                            <th>服数</th>
                            <th>日期</th>
                            <th>时间</th>
                          </tr>
                          {{foreach from=$DATA["新版开服列表"].list item="v"}}
                          <tr>
    	                      <td><a href="{{$v.GAME.CONFIG.site}}" target="_blank" class="cred bule_color">{{if $v.GAME.NAME == '雷霆之怒绿色版'}}雷霆之怒{{else}}{{$v.GAME.NAME}}{{/if}}</a></td>
    	                      <td>{{$v.SID}}</td>
    	                      <td>{{$v.SERVER_START_TIME|date_format:'%m-%d'}}</td>
    	                      <td>{{$v.SERVER_START_TIME|date_format:'%H:%M'}}</td>
                          </tr>
                          {{/foreach}}
                        </table>
                    </dd>
                </dl>
                <dl>
                	<dt><span><a href="{{$CONFIG.url}}/gift/" target="_blank">游戏礼包</a></span><a href="{{$CONFIG.url}}/gift/" target="_blank">+更多</a></dt>
                    {{data name="文章详情游戏礼包"}}
                    <dd class="games_rank" id="games_rank" style="height:auto; border:none; padding:0px; margin:0px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                {{foreach from=$DATA["文章详情游戏礼包"].list item=item}}
                                <tr>
                                    <td style="text-align:left; padding:0 5%;"><a href="{{$CONFIG.url}}/gift/giftdetail.php?gid={{$item.G.ID}}" target="_blank">{{$item.G.NAME}}{{$item.name}}</a></td>
                                    <td> <a class="btn" href="{{$CONFIG.url}}/gift/giftdetail.php?gid={{$item.G.ID}}" target="_blank">领取</a></td>
                                </tr>
                                {{/foreach}}
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    
    {{include file="footer.html"}}
    
    <script type="text/javascript"> var fixedSize = false, menuID = 6; </script>
    <script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/common.js?{{$CONFIG.build}}"></script>
    <!--统计代码-->
    <div style="display:none;">
    	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254158075'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1254158075' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
    <!--统计代码end-->
</body>
</html>
