<div class="mod"><p class="mod-hd"><em class="mod-tit">VIP特权</em></p></div>
<div class="user-mod-wp user-mod-svip">
	<div class="vip-status">
		<p>我当前的等级是：<em>{{$user.user_level.name}}</em></p>
		<p>我目前的成长值是：<em>{{$user.user_level.score}}</em></p>
		<p>我的积分：<em>{{$user.credit.credit|intval}}</em></p>
		<div class="vip-bbs">VIP6可进入甜心天使社区 <a href="http://mall.9377.com/vote.php" target="_blank">进入社区</a></div>
	</div>
	<div class="vip-intro-wp">
		<p class="tit">会员特权介绍</p>
		<table class="table-vip">
			<thead>
				<tr>                                         
					<th>特权</th>
					<th>一星会员</th>
					<th>二星会员</th>
					<th>三星会员</th>
					<th>四星会员</th>
					<th>五星会员</th>
					<th>六星会员</th>
					<th>七星会员</th>
					<th>八星会员</th>
					<th>九星会员</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>客服7×24小时服务</td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>最新活动，微信告知</td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>意见建议征集回访</td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>节日提醒祝福服务</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>专属通道</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>体验账号发放</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>问题受理加速优先服务</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>生日祝福短信服务</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>配备专属大客户经理</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>手办纪念品发放</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>开通甜心天使社区权限</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>线下嘉年华活动邀请</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>赠送3款游戏VIP体验资格</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>来访专人接机</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>甜心天使视频语音服务</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td>赠送游戏VIP体验资格</td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><em></em></td>
					<td><i></i></td>
				</tr>
			</tbody>
		</table>

		<div class="vip-qa">
			<p class="q"><strong>1、什么是成长值？</strong></p>
			<p class="a">成长值是通过获取积分的方式所累积的经验值，1积分=1成长值或者1RMB=1成长值，它标志着您在9733网页平台尊贵程度，成长值越高会员等级越高，可以享受更多的会员服务哦！</p>
			<p class="q"><strong>2、如何获得成长值？</strong></p>
			<p class="a">通过参与新手任务或者充值获得积分，成长值按照个人获得的积分总量进行累积，并且花费积分不消耗成长值。（注：特殊任务不可以获得成长值。）</p>
			<p class="q"><strong>3、成为会员有哪些好处？</strong></p>
			<p class="a">在成为9377平台会员后，即可享受到三大会员特权：<br>
			平台特权：会员享有尊贵身份铭牌显示，每逢节假日或者生日，会员都能收到平台祝福和各种惊喜礼包，当天充值还能获得超值返利等<br>
			游戏特权：会员专享的游戏礼包与专属活动；新区冠名；游戏资讯早知等<br>
			客服特权：会员尊享1对1贴身秘书服务，问题&amp;申诉绿色通道，至尊专员服务等 </p>
		</div>
	</div>
</div>