<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="frontend" content="cheny">
    <title>9377游戏保镖</title>
    <meta name="keywords" content="游戏保镖,游戏保镖下载,苹果系统游戏保镖,游戏保镖安卓版" />
    <meta name="description" content="9377游戏保镖是官方推出的一款多功能APP，游戏保镖集挂机、打BOSS闹钟、礼包、资讯、帐号保护于一体，是您的贴身管家也是 您的私人保镖。游戏保镖目前提供两个版本下载，适应安卓和苹果系统，免费为您的游戏护航。" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="{{$CONFIG.resource}}/style/2017/app/style.css?{{$CONFIG.build}}" />
    <script src="{{$CONFIG.resource}}/js/plugin/adaptive.js"></script> 
    <script>
        window['adaptive'].desinWidth = 640;
        window['adaptive'].baseFont = 18;
        window['adaptive'].maxWidth = 640;
        window['adaptive'].scaleType = 1;
        window['adaptive'].init();
    </script>
</head>
<body>
<div class="wrapper">
    
    <div class="inside_game_con">
        <div class="i_com_box boss_refresh_list" id="boss_refresh_list">
        	<ul id="boss_list_refresh">

            </ul>
        </div>
			        
    <!-- 已自定义提醒 -->
        <div class="i_com_box has_special_remind">
            <h2 class="set_clock_h2">已自定义提醒</h2>
            <ul id="J_notice_list">
                <!-- 客户端载入数据 -->
            </ul>
        </div>
    <!-- 自定义提醒 -->
        <div class="i_com_box set_special_remind">
            <h2 class="set_clock_h2">自定义提醒 <a href="javascript:;" class="add_ico" title="添加" onClick="resetNotice()"></a></h2>
			<div class="notice_form" id="J_notice_form">
            	<div class="add_remind"><i class="event_ico"></i><label class="gray_word">事件</label><input type="text" id="J_notice_title" /></div>
            	<div class="add_remind"><i class="event_time"></i><label class="gray_word">时间</label><input type="datetime-local" id="J_notice_time" /></div>
                <a href="javascript:;" class="sub_comon_btn add_remind_btn" id="J_notice_submit">确认</a>
            </div>
        </div>
    </div>
</div>
  
<script type="text/javascript" src="{{$CONFIG.resource}}/js/ajax.js?{{$CONFIG.build}}"></script>
<script type="text/javascript" src="/js/app/main.js?{{$CONFIG.build}}"></script>
</body>
</html>