<footer>    
    <div class="bottom-nav">
        <a href="{{$CONFIG.app_url}}/api/app_yxbb.php?act=index" class="on"><i class="b_nav_ico1"></i><span>首页</span></a>
        <a href="{{$CONFIG.app_url}}/api/app_yxbb.php?act=game_center"><i class="b_nav_ico2"></i><span>游戏中心</span></a>
        <a href="{{$CONFIG.app_url}}/api/app_yxbb.php?act=outline"><i class="b_nav_ico3"></i><span>实用工具</span></a>
        <a href="{{$CONFIG.app_url}}/api/app_yxbb.php?act=game_center"><i class="b_nav_ico4"></i><span>我的</span></a>
    </div>
</footer>

<script type="text/javascript" src="{{$CONFIG.resource}}/js/ajax.js?{{$CONFIG.build}}"></script>
<script type="text/javascript" src="{{$CONFIG.resource}}/js/app/main.js?{{$CONFIG.build}}"></script>

