@charset "utf-8";
body{background:#fff}
.float-menu{display: none;}
.normal-header{overflow:hidden;padding:28px 0}
.normal-header .txt{height:42px;line-height:42px;margin:10px 0 0 24px;font-size:24px;padding-left:24px;border-left:1px solid #c5c5c5;float:left}
.g-container{height:600px;padding: 0;background:url(/images/2017/loginbg.jpg?201708251703) top center no-repeat}
.login-main{height:600px;overflow: hidden;position:relative}
.mod-login-wp{width:234px;padding:16px 34px;background:#D8DBEA;background:rgba(255,255,255,.7);position:absolute;top:50%;right:80px;margin-top: -169px;}
.login-tab{width:100%;overflow:hidden}
.login-tab-1 li{width: 100%;}
.login-tab-2 li{width: 50%;}
.login-tab li{height:37px;line-height:37px;cursor:pointer;border-bottom:1px solid #fff;text-align:center;color:#595757;font-size:14px;float:left}
.login-tab .active{border-bottom-color:#d70023}
.login-tab-con{}
.login-account{margin-top:32px}
.login-account .w-item{height:38px;margin-top:12px;position:relative}
.login-account .w-item label{width:34px;height:38px;position:absolute;top:0;left:0}
.login-account .w-item input{width:200px;height:14px;padding:12px 0 12px 34px;font-size:14px;color:#000;border:0 none;-webkit-border-radius:5px;border-radius:5px;background:#fff}
.login-account .btn-tologin{display:block;width:100%;height:40px;color:#fff;font-size:16px;border:0 none;-webkit-border-radius:4px;border-radius:4px;cursor:pointer;background:#ff7733;font-family:'microsoft yahei'}
.login-account .btn-tologin:hover {background: #ff8948;}
.login-account .user-opt{height:14px;line-height:14px;margin:10px 0 18px;-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none;}
.icon-cb{display:inline-block;vertical-align:top;width:13px;height:13px;margin-right: 6px;}
.login-account .tips{height:12px;line-height:12px;color:#ff7733;margin:10px 0}
.login-account .user-third{height:24px;margin:10px 0}
.login-account .freereg {color:#ff7733;float: right;}
.login-account .freereg:hover { text-decoration: underline; }
.third-login-qq,.third-login-wx,.third-login-wb{display:inline-block;width:24px;height:24px;background:url(/images/2017/third.png?201708251703) no-repeat;*margin-right:4px;}
.third-login-wx{background-position:-27px 0}
.third-login-wb{background-position:-53px 0}.login-account .icon-user{background-position:2px 4px}.login-account .icon-lock{background-position:-38px 4px}.icon-cb{background-position:0px -40px}.icon-cbed{background-position:-23px -40px}.login-account .icon-user,.login-account .icon-lock,.icon-cb,.icon-cbed{background-image: url(/images/2017/login_z.png?201708251703);background-repeat: no-repeat;}