@charset "utf-8";
.w-item { margin: 16px 0; }
.mp-header { width: 100%; height: 62px; padding: 20px 0; background: #fff; }
.hd-left span { height: 40px; line-height: 40px; border-left: 1px solid #c5c5c5; padding-left: 25px; margin: 11px 0 0 25px; font-size: 24px; color: #595757; float: left; }
.mp-header .menu { float: right; }
.mp-header .menu li { margin-left: 30px; float: left; }
.mp-header .menu a { display: block; height: 62px; line-height: 62px; font-size: 14px;}

.mp-main { min-width: 710px; padding: 82px 0 18px; border-bottom:3px solid #ebeaea; background: #fff; }
.step-wp { text-align: center; }
.step-wp span { display:inline-block; vertical-align: top; font-size: 16px; color: #c9c9c9; margin: 0 28px;}
.step-wp span b { display:inline-block; vertical-align: top; width: 26px; height: 26px; line-height: 26px; text-align: center; border-radius: 50%; margin-right: 12px; color: #fff; background: #c9c9c9;}
.step-wp .active { color: #ff7733; }
.step-wp .active b { background: #ff7733; }

.mp-wp { width: 644px; margin: 0 auto;}
.mp-item-1 { margin-top: 108px;}
.mp-item-2 { margin-top: 75px; }
.mp-item-3 { margin-top: 90px; }
.mp-item-4 { margin-top: 110px; }
.user-label { display: block; text-align: center; font-size: 14px; color: #595757; }
.appeal:hover { text-decoration: underline; }
.user-label em { color: #ff7733; }
.mp-mod-list { text-align: center; font-size: 16px; color: #595757; line-height: 50px; }
.mp-mod-list li { margin: 80px 35px 60px; }
.mp-mod-list .noset a { cursor: default;}
.mp-mod-list .noset a:hover { color: #595757!important; }
.mp-mod-list .item { display: block; position:relative;}
.mp-mod-list .item i { display: block; width: 136px; height: 136px; background: url(/images/2017/modpass.png?201708251703) no-repeat;}
.mp-mod-list .item-1 i { background-position: 0 -146px; }
.mp-mod-list .item-2 i { background-position: -206px -146px; }
.mp-mod-list .item-3 i { background-position: -412px -146px; }
.mp-mod-list .active .item-1 i { background-position: 0 0; }
.mp-mod-list .active .item-2 i { background-position: -206px 0; }
.mp-mod-list .active .item-3 i { background-position: -412px 0; }
.mp-mod-list .item span { width: 58px; height: 20px; line-height: 20px; text-align: center; color: #fff; font-size: 12px; background: #c0c0c0; position:absolute; top: 12px; right: -10px; }
.mp-mod-list .active .item span { background: #4dd589; }
.mp-wp .tips { text-align: center; }
.mp-wp .tips a { color: #ff7733; }
.mp-wp .tips2 { color: #bababa; text-align: center; }
.mp-mod-form { margin: 20px 0 50px 80px;}
.mp-mod-form .w-item .w-label { width: 120px; }
.mp-mod-form .w-item .w-div { font-size: 14px; }
.mp-mod-form .btn, .mp-mod-form .w-button { border-radius: 4px; padding: 0 3px;}

.mp-wp .success { line-height: 35px; font-size: 18px; color: #595757; text-align: center; margin: 50px 0;}
.mp-wp .success i { display:inline-block; vertical-align: top; width: 35px; height: 35px; margin-right: 20px; background-position: -204px -60px; }
.mp-wp .back { text-align: center; font-size: 14px; }
.mp-wp .back a { color: #429deb;}
.mp-wp .success i, .exce-hd i, .exce-bd .rem i { background-image: url(/images/2017/user_common.png?201708251703); background-repeat: no-repeat;}
/*账号异常*/
.exception-wp { width: 710px; margin: 0 auto; }
.exce-hd { width: 604px; padding: 28px 0 28px 106px; margin: 0 auto; font-size: 14px; color: #595757; background: #f2f2f2; position:relative;}
.exce-hd i { display:inline-block; vertical-align: middle; width: 22px; height: 22px; margin-right: 10px; background-position: -111px -113px; position:relative; top: -2px}
.exce-hd .notlocked { position:absolute; top: 38px; left: 66px;}
.exce-bd { padding: 20px 0 0 150px; }
.exce-bd .tips { color: #9fa0a0; line-height: 24px;}
.exce-bd .w-div { font-size: 14px; }
.exce-bd .w-item { width: 400px; }
.exce-bd .w-item i{margin-right: 4px;}
.exce-bd .rem i { display:inline-block; vertical-align: middle; position:relative; top: -2px; width: 13px; height: 13px; background-position: -202px -151px; }
.exce-bd .rem .nos { background-position: -179px -151px; }

.float-menu { display: none; }