@charset "utf-8";
body{background:#f2f2f2}
.normal-header{overflow:hidden;padding-top:28px}
.normal-header .txt{height:42px;line-height:42px;margin:10px 0 0 24px;font-size:24px;padding-left:24px;border-left:1px solid #c5c5c5;float:left}
.normal-header .tologin{font-size:16px;color:#595757;margin-top:18px;float:right}
.normal-header .tologin em{color:#ff7733}
.g-container{width:100%}
.mod-register-wp{padding:20px 0;border-bottom:3px solid #ebeaea;background:#fff}
.register-tab{width:320px;margin:0 auto;overflow:hidden}
.register-tab li{width:50%;height:37px;line-height:37px;cursor:pointer;border-bottom:1px solid #c5c5c5;text-align:center;color:#595757;font-size:14px;float:left}
.register-tab .active{border-bottom-color:#ff7733}
.register-tab-con{width:auto;padding-left:240px;font-size:14px;color:#595757;;}
.w-item{height:36px;min-height:36px;margin:15px 0;line-height:36px}
.w-item .w-label{width:90px;height:36px;line-height:36px;padding-right:10px;text-align:right;float:left}
.w-item .w-input,.w-item .w-input-m,.w-item .w-input-s{width:288px;height:14px;line-height:14px;border:0 none;border:1px solid #c5c5c5;-webkit-border-radius:5px;border-radius:5px;padding:10px 15px;font-family:'microsoft yahei';float:left}
.w-item .w-input-m{width:160px}
.w-item .w-input-s{width:160px}
.w-item .w-div{width:320px;height:auto;min-height:36px;line-height:36px;font-size:12px;float:left;position:relative;}
.w-item .w-div em{color:#ff7733}
.w-item .icon-cb{display:inline-block;vertical-align:middle;width:17px;height:17px;position:relative;top:-2px;margin-right: 6px;}
.w-item .w-submit{width:320px;height:44px;font:14px/44px 'microsoft yahei';border:0 none;cursor:pointer;-webkit-border-radius:5px;border-radius:5px;color:#fff;background:#ff7733}
.w-item .w-submit:hover { background: #ff8948; }
.w-item .w-btn{display: block;border:0 none;width:118px;height:36px;line-height:36px;text-align:center;color:#fff;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;background:#4dd589;float:right;font-family: 'microsoft yahei';cursor: pointer;position:absolute;top: 0px; right: 0px;}
.w-item .w-btn:hover{color:#fff!important;background: #58e79c;}
.w-button-disabled, .w-button-disabled:hover { color: #fff; background: #ccc!important; cursor: default; }
.w-item .w-tips{color:#9fa0a0;padding-left:15px;float:left}
.w-item .w-tips .error{color:#fe0202}
.w-item .w-tips .correct{ display:inline-block; vertical-align: top; width: 36px; height: 36px; background-position: 0px -17px;}
.php-code{overflow: hidden;line-height: 30px;text-align: center;margin:2px 0 0 56px;cursor:pointer;position:absolute;top: 4px;right: 8px;}
.w-item .icon-cb{background-position:0px 0px}.w-item .icon-cbed{background-position:-27px 0px}.w-item .icon-cb,.w-item .icon-cbed,.w-item .w-tips .correct{background-image: url(/images/2017/register.png?201812151727); background-repeat: no-repeat;}