<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>网页游戏中心_游戏大全_盒子_大厅_9377网页游戏</title>
	<meta name="keywords" content="网页游戏平台,网页游戏,webgame,游戏中心,游戏大全,免费网页游戏,最新网页游戏,免费在线" />
	<meta name="description" content="9377网页游戏中心，汇集了大量时下最好玩的网页游戏，还有最新游戏排行榜，来9377网页游戏大厅，大量火爆网页游戏任你玩。" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta property="qc:admins" content="0767356077613776375" />
	<meta property="wb:webmaster" content="a66b8764e570c6f1" />
	<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/common.css?{{$CONFIG.build}}" />
	<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/gamecenter.css?{{$CONFIG.build}}" />
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/ajax.js?{{$CONFIG.build}}"></script>
</head>

<body class="w992">
	{{include file="header.html"}}
	<div class="g-container fix">
		<div class="w1000 w1200 gamecenter-main">
			<div class="mod mod-1 fix">
				{{data name="游戏中心幻灯"}}
				<div class="gc-kv" id="gc-kv">
					<ul class="hd">
						{{foreach from=$DATA["游戏中心幻灯"].list item="v"}}
						<li>
							<span>.</span>
							<!-- <h4>{{$v.title}}</h4>
							<p>{{$v.ext4}}</p> -->
						</li>
						{{/foreach}}
					</ul>
					<ul class="bd">
						{{foreach from=$DATA["游戏中心幻灯"].list name="gkv" item="v"}}
						<li>
							{{data name="大图{{$v.ext1}}"}}
							{{data name="小图{{$v.ext1}}"}}
							<a href="{{$v.url}}" target="_blank">
								{{$DATA["大图{{$v.ext1}}"]|replace:'src=':'class="a" _src='}}
								{{$DATA["小图{{$v.ext1}}"]|replace:'src=':'class="b" _src='}}
							</a>
						</li>
						{{/foreach}}
					</ul>
				</div>

			</div>
			<div class="mod mod-2 fix">
				<div class="fl filter-game">
					<div class="filter-box">
						<h3 class="mod-tit"><span>全部游戏筛选</span></h3>
						<div class="filter-item">
							<p class="hd">全部类型：</p>
							<div class="bd fix">
								<a href="javascript:;" onClick="gameFilter(this,'type','')" class="active">全部</a>
								{{foreach from=$games_type item=item key=type}}
								{{if $type && $item}}
								<a href="javascript:;" onClick="gameFilter(this,'type','{{$type}}')">{{$type}}</a>
								{{/if}}
								{{/foreach}}
							</div>
						</div>
						<div class="filter-item">
							<p class="hd">全部题材：</p>
							<div class="bd fix">
								<a href="javascript:;" onClick="gameFilter(this,'subject','')" class="active">全部</a>
								{{foreach from=$games_subject item=item key=type}}
								{{if $type && $item}}
								<a href="javascript:;" onClick="gameFilter(this,'subject','{{$type}}')">{{$type}}</a>
								{{/if}}
								{{/foreach}}
							</div>
						</div>
						<div class="filter-item">
							<p class="hd">字母排序：</p>
							<div class="bd fix">
								<a href="javascript:;" onClick="gameFilter(this,'letter','')" class="active">全部</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','ABC')">ABC</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','DEF')">DEF</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','GHI')">GHI</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','JKL')">JKL</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','MNO')">MNO</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','PQR')">PQR</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','STU')">STU</a>
								<a href="javascript:;" onClick="gameFilter(this,'letter','VWX')">VWX</a>
								<a href="javascript:;" onClictypeid_allk="gameFilter(this,'letter','YZ')">YZ</a>
							</div>
						</div>
					</div>
					<div class="hotgame-tab" id="hotgame-tab">
						<div class="hotgame-tit">
							<h3 class="mod-tit"><span>游戏列表</span></h3>
							<form class="sc-box" onsubmit="return gameCenterSearch(this);">
								<input type="text" class="key" placeholder="搜索游戏" name="key">
								<input type="submit" class="btn" value="搜索">
							</form>
						</div>
						<!-- <ul class="tab_hd">
									<li class="active pc_game_btn">网页游戏</li>
									<li id="tab1" class="mobile_game_btn">手机游戏</li>
								</ul> -->
						<div class="bd">
							<div class="hotgame-list hotgame-list-pc">
								<!-- js加载 -->
							</div>
						
						</div>
					</div>
				</div>

				<div class="gc-rank">
					<h3 class="mod-tit"><span>游戏推荐</span></h3>
					{{data name="游戏中心排行"}}
					<ul class="rank-list">
					<li style="color:#9fa0a0 ;border:0">
						<span class="info" >游戏</span>
						<span class="dress">开服 </span>
					</li>	
						{{foreach from=$DATA['游戏中心排行'].list item=item key=k}}
						<li>
							<a target="_blank" href="{{$CONFIG.app_url}}/game_login.php?game={{$item.ALIAS}}&server=new">
								<span class="info" title="{{$item.NAME}}" >{{$item.NAME}}</span>
								<span class="dress"> {{$item.NEW_SERVER}}服</span>
								<span class="go" >开始游戏</span>
							</a>
						</li>
						{{/foreach}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{include file="footer.html"}}
	<script> var menuID = 2; </script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/common.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/game_center.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/jquery.validator.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/register.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript">
		$("#" + eval($_GET['p'])).show().siblings(".hotgame-list:visible").hide();
		$("#tab" + eval($_GET['p'])).addClass('active').siblings("li:visible").removeClass('active');
	</script>
</body>

</html>