<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/register_111.css?{{$CONFIG.build}}" />
<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/login_111.css?{{$CONFIG.build}}" />
<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/tn_code.css?{{$CONFIG.build}}" />
<div class="header">
	<div class="hd-top">
		<div class="w1000 w1200 fix">
			<div class="hd-left fl">
				<div class="home-opt"> <a href="javascript:toDesktop();">加入到桌面</a> &nbsp;|&nbsp;  <a href="javascript:winSetHP();">设为首页</a> &nbsp;|&nbsp; <a href="javascript:winAddFav();">收藏</a> </div>
			
			</div>
			<div class="hd-right fr">
				<div class="top-user-mod">
					<div class="nologin">
						<a href="javascript:login();" rel="nofollow" class="item to-login"><i></i>登录</a>
						<a href="javascript:register();" rel="nofollow" class="item to-reg"><i></i>注册</a>
					</div>
					<div class="logined none">
						<div class="user-vip-wp">
							<!-- <a class="item user-vip" href="{{$CONFIG.app_url}}/users/users_index.php?type=14" target="_blank"> <i class="user-vip-level"></i> <em>0</em> </a> -->
							<a class="item user-name" href="{{$CONFIG.app_url}}/users/users_index.php" target="_blank"></a>
						</div>
						<a class="item user-logout" href="{{$CONFIG.app_url}}/login.php?do=logout" onclick="logout()">[退出]</a>
						<!-- <a class="item user-logout" href="javascript:logout()">[退出]</a> -->
						<em class="gap">|</em>
						<div class="user-msg-wp">
							<a class="item user-msg" href="{{$CONFIG.app_url}}/users/users_index.php?type=15">消息<i></i></a>
							<div class="msg-box none">
								<i class="c"></i>
								<div class="data none">
							 		<div class="hd"></div>
									<div class="bd"></div>
									<a href="{{$CONFIG.app_url}}/users/users_index.php?type=15" target="_blank" class="all">查看全部消息&gt;&gt;</a>
								</div>
								<div class="nomsg none">
									<img src="{{$CONFIG.app_url}}/images/2017/nodata.jpg" alt="">
									<p>暂时没有新消息了！</p>
									<a href="{{$CONFIG.app_url}}/users/users_index.php?type=15" target="_blank" class="all">查看全部消息&gt;&gt;</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="all-game-wp">
					<a href="javascript:;" class="item all-game-btn">全部游戏<i></i></a>
					<div class="all-game-box none">
						{{data name="2019顶部所有游戏"}}
						<ul class="all-game-img">
							{{foreach from=$DATA['2019顶部所有游戏'].list item=item}}
							<li>
								<a href="{{$item.CONFIG.site}}" target="_blank">
									<img _src="{{$CONFIG.resource}}/images/2017/icon/462_280/{{$item.ALIAS}}.jpg?{{$CONFIG.build}}">
									<p class="txt">{{$item.SHORT_DESCRIPTION}}</p>
								</a>
							</li>
							{{/foreach}}
						</ul>
						<dl class="all-game-list fix">
							<dt><em><i class="icon-new"></i> 新游</em> <em><i class="icon-hot"></i> 火爆</em> 热门游戏 </dt>
							{{foreach from=$DATA['2019顶部所有游戏'].list item=item name=glist}}
							<dd {{if $smarty.foreach.glist.index > 10}}class="sitem"{{/if}}>
								<a href="{{$item.CONFIG.site}}" target="_blank">
								{{$item.NAME}}
								{{if $item['CONFIG']['step'] == 'new'}} <i class="icon-new"></i> {{elseif $item['CONFIG']['step'] == 'hot'}} <i class="icon-hot"></i> {{/if}}
								</a>
							</dd>
							{{/foreach}}
							<dd><a href="{{$CONFIG.app_url}}/game_center.php" target="_blank" class="more">更多游戏+</a></dd>
						</dl>
						<!-- <dl class="all-game-tool">
							{{data name="顶栏游戏工具"}}
							<dt>游戏工具</dt>
							{{foreach from=$DATA["顶栏游戏工具"].list item="v"}}
							<dd>
								<a href="{{$v.url}}" {{if strpos($v.title,"保镖") !== false}}rel="nofollow"{{/if}} target="_blank">
									<img src="{{$v.thumb}}" alt="{{$v.title}}" title="{{$v.title}}" width="60" height="60"/>
									<p>{{$v.title}}</p>
								</a>
							</dd>
							{{/foreach}}
						</dl> -->
					</div>
				</div>
				<div class="safe-mod-wp none">
					<div class="safe-mod safe-mod-idc none">
						<a href="javascript:;" class="close"></a>
						<div class="hd"><i></i>您的账号尚未完善身份证信息</div>
						<div class="bd">
							<p>身份证信息是判断账号归属的重要依据，为了您</p>
							<p>的账号安全，请尽快完善！</p>
							<a href="{{$CONFIG.app_url}}/users/users_index.php?type=21" target="_blank" opt="idc" class="go">完善信息</a>
						</div>
					</div>
					<div class="safe-mod safe-mod-phone none">
						<a href="javascript:;" class="close"></a>
						<div class="hd"><i></i>您尚未完绑定密保手机</div>
						<div class="bd">
							<p>绑定手机可用于忘记密码或者账号被盗时</p>
							<p>快速重置密码</p>
							<a href="{{$CONFIG.app_url}}/users/users_index.php?type=6" target="_blank" opt="phone" class="go">绑定手机</a>
						</div>
					</div>
					<div class="safe-mod safe-mod-info none">
						<a href="javascript:;" class="close"></a>
						<div class="hd"><i></i>您尚未完完善个人资料</div>
						<div class="bd">
							<p>完善账号的个人资料，提高账号安全度，</p>
							<p>做完美的人!</p>
							<a href="{{$CONFIG.app_url}}/users/users_index.php?type=0" target="_blank" opt="info" class="go">完善信息</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hd-menu {{if $DATA_POSTFIX[0] == 'index'}}index-hd-menu{{/if}}">
		<div class="w1000 w1200 fix">
			{{if $top_category_id == 10252 || $DATA_POSTFIX[0] == 'giftdetail' || $DATA_POSTFIX[0] == 'kaifu'}}
			<a href="{{$CONFIG.url}}/" class="logo"><img src="{{$CONFIG.resource}}/images/2017/logo.png?{{$CONFIG.build}}" alt="网页游戏" title="网页游戏"/></a>
			{{else}}
			<h1 class="logo"><a href="{{$CONFIG.url}}/"><img src="{{$CONFIG.resource}}/images/2017/logo.png?{{$CONFIG.build}}" alt="网页游戏" title="网页游戏"/></a></h1>
			{{/if}}
			<ul class="menu">
				<li><a href="{{$CONFIG.url}}/"><span>首页</span><i></i></a></li>
				<!-- <li class="menu_special"><a href="{{$CONFIG.url}}/h5/m/" style="color:#ff7733" target="_blank"><span>精品手游</span><font class="phoneh5_new"></font><i></i></a></li> -->
				<li><a href="javascript:;" id="link_user" rel="nofollow"><span>用户中心</span><i></i></a></li>
				<li><a href="{{$CONFIG.app_url}}/game_center.php"  target="_blank" ><span>游戏中心</span><i></i></a></li>
				<li><a href="{{$CONFIG.url}}/gift/" target="_blank"><span>礼包中心</span><i></i></a></li>
				<li><a href="{{$CONFIG.app_url}}/pay_index.php" target="_blank" rel="nofollow"><span>充值中心</span><i></i></a></li>
				<!-- <li><a href="http://mall.9377.com/" target="_blank" rel="nofollow"><span>商城</span><i></i></a></li> -->
				<li><a href="{{$CONFIG.url}}/kefu/" target="_blank" rel="nofollow"><span>客服中心</span><i></i></a></li>
				<!-- <li><a href="http://bbs.9377.com/" target="_blank"><span>论坛</span><i></i></a></li> -->
				<!-- <li><a href="{{$CONFIG.url}}/kaifu/" target="_blank"><span>开服</span><i></i></a></li> -->
			</ul>
			<div class="home-search">
				{{data name="搜索推荐"}}
				<form method="get" action="{{$CONFIG.app_url}}/game_center.php" target="_blank" id="top-search-form" onSubmit="return topBarSearch();">
					<input class="search-txt" type="text" name="q" placeholder="搜索游戏" autocomplete="off" id="top-search-val">
					<input class="search-btn" type="submit" value="" id="top-search-btn">
				</form>
				<div class="search-rem none" id="search-rem">
					<ul class="list">
						{{foreach from=$DATA['搜索推荐'].list item=item}}
						<li>
							<div class="a">{{$item.NAME}}</div>
							<div class="b">
								<a href="{{$item.CONFIG.site}}" target="_blank" class="img"><img src="{{$CONFIG.resource}}/images/2017/icon/44_44/{{$item.ALIAS}}.jpg?{{$CONFIG.build}}"></a>
								<div class="info fl">
									<a href="{{$item.CONFIG.site}}" target="_blank" class="name">{{$item.NAME}}</a>
									<a href="{{$item.CONFIG.server_list_url}}" target="_blank" class="btn-play">进入游戏</a>
								</div>
							</div>
						</li>
						{{/foreach}}
					</ul>
				</div>
			</div>
			<!-- {{if $DATA_POSTFIX[0] != 'index'}}
				<div class="nirem">
					{{data name="2019非首页推广图"}} {{$DATA['2019非首页推广图']}}
				</div>
			{{/if}} -->
		</div>
	</div>
</div>
	<!-- 登录 -->
	{{include file="login_111.html"}}
	<!-- 登录end -->
	<!-- 注册 -->
	{{include file="register_111.html"}}
	<!-- 注册end -->
	<!-- <script type="text/javascript" src="{{$CONFIG.resource}}/js/jquery.validator.js?{{$CONFIG.build}}"></script> -->
	<!-- <script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/register.js?{{$CONFIG.build}}"></script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/tn_code.js?{{$CONFIG.build}}"></script>
  <script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/login.js?{{$CONFIG.build}}"></script> -->