<div class="sign-box2" id="sign-box2">
	<a href="javascript:;" class="sign-close2 pop-close w-pop-close"></a>
	<div class="sign-tit">每日打卡</div>
	<div class="sign-con">
		<ul class="sign-li clearfix">
			<li id="d-1" date="1" class="sign-d"><a href="javascript:;"></a><p>日</p></li><!-- 当天的打卡 -->
			<li id="d-2" date="2" class="sign-d"><a href="javascript:;"></a><p>一</p></li>
			<li id="d-3" date="3" class="sign-d"><a href="javascript:;"></a><p>二</p></li><!-- 补打卡 -->
			<li id="d-4" date="4" class="sign-d"><a href="javascript:;"></a><p>三</p></li><!-- 打卡成功后的 -->
			<li id="d-5" date="5" class="sign-d"><a href="javascript:;"></a><p>四</p></li>
			<li id="d-6" date="6" class="sign-d"><a href="javascript:;"></a><p>五</p></li>
			<li id="d-7" date="7" class="sign-d"><a href="javascript:;"></a><p>六</p></li>
		</ul>
		<p class="sign-txt">每日打卡可获得1平台积分</p>
	</div>
	<div class="sign-info clearfix">
		<dl>
			<dt class="cicon info1">连续打卡</dt>
			<dd>
				<p class="sign-detail"><span>3天</span>奖励5平台积分</p>
				<p class="sign-detail"><span>5天</span>奖励20平台积分</p>
			</dd>
		</dl>
		<dl>
			<dt class="cicon info2">累计打卡</dt>
			<dd>
				<p class="sign-detail"><span>4天</span>奖励5平台积分</p>
				<p class="sign-detail"><span>7天</span>奖励30平台积分</p>
			</dd>
		</dl>
		<dl class="d3">
			<dt id="sign-desc" class="cicon info3">补签特权<i class="cicon"></i></dt>
			<dd>
				<p class="sign-again">我的VIP等级：<em id="sign-vip"></em></p>
				<p class="sign-again">当月补签次数：<em id="repair_sign"></em></p>
				<div id="sign-into" class="sign-into">
					<h5>补签说明</h5>
					<p>VIP0~VIP1&nbsp;&nbsp;&nbsp;&nbsp;0次/月</p>
					<p>VIP2~VIP3&nbsp;&nbsp;&nbsp;&nbsp;1次/月</p>
					<p>VIP4~VIP6&nbsp;&nbsp;&nbsp;&nbsp;2次/月</p>
					<p>VIP7~VIP9&nbsp;&nbsp;&nbsp;&nbsp;3次/月</p>
				</div>
			</dd>
		</dl>
	</div>
	<div class="sign-tips">签到成功，加1积分</div>
</div>
<div class="small-tips none" id="sign-pop-tips">
	<a class="tips-close sign-tips-close" href="javascript:void(0);">X</a>
	<div class="tips-tit">提示</div>
	<div class="sign-tips-con"></div>
</div>