<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<title>微游戏礼包中心_微游戏礼包大全_h5微信手游礼包领取_9377微游戏平台</title>
	<meta name="keyword" content="微游戏礼包中心,h5微游戏礼包,微信手游礼包大全,h5微游戏礼包领取,微游戏新手礼包,h5微游戏,微游戏平台">
	<meta name="description" content="9377微游戏礼包中心,拥有海量免费的微游戏礼包,提供特权礼包、激活码、新手卡、新服礼包、礼包兑换码等礼包，任君选择。玩微游戏来9377,一起玩更快乐。">
	<meta name="frontend" content="Robin">
	<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/h5/pc2018/global.css?{{$CONFIG.build}}11" />
	<link rel="stylesheet" href="{{$CONFIG.resource}}/style/2017/h5/pc2018/gift.css?{{$CONFIG.build}}1x1" />
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/h5/pc2018/ajax.js?{{$CONFIG.build}}"></script>
</head>
<body>
	<div class="wrapper">
		{{include file="h5/pc2018/header.html"}}
		<div class="g-container gift-page">
			<div class="g-main">
				<div class="g-row fix">
					{{data name="H5礼包中心幻灯"}}
					<div class="kv-wp laybox">
						<ul class="hd">
							{{foreach from=$DATA['H5礼包中心幻灯'].list item=v name=gift}}
							<li>
								{{data name="礼包小图{{$v.ID}}"}}
								{{$DATA["礼包小图{{$v.ID}}"]|replace:'src=':'class="a" width="186" height="67" src='}}
								<div class="b">
									<img src="{{$CONFIG.resource}}/images/2017/h5/icon/{{$v.ALIAS}}.png?{{$CONFIG.build}}" width="50">
									<div class="info"> <p class="name">{{$v.CONFIG.alias_name}}</p> <p>{{$v.CONFIG.game_form}}</p> </div>
								</div>
							</li>
							{{/foreach}}
						</ul>
						<ul class="bd">
							{{foreach from=$DATA['H5礼包中心幻灯'].list item=v name=gift}}
							<li>
								{{data name="礼包大图{{$v.ID}}"}}
								<a href="{{$CONFIG.app_url}}/game.php?gid={{$v.ID}}&sid=new" target="_blank" class="item">
									{{$DATA["礼包大图{{$v.ID}}"]|replace:'src=':'width="670" height="340" src='}}
								</a>
								<div class="info">
									<p class="name">{{$v.CONFIG.alias_name}}</p>
									<p class="opt">
										<a href="{{$CONFIG.app_url}}/game.php?gid={{$v.ID}}&sid=new" target="_blank">进入官网</a> | 
										<a href="{{$CONFIG.app_url}}/game.php?gid={{$v.ID}}&sid=new" target="_blank">开始游戏</a>
									</p>
								</div>
							</li>
							{{/foreach}}
						</ul>
					</div>
					<!-- 热门游戏 -->
					<div class="fr">
						<div class="g-tit"> <i class="icon icon-fire"></i> <span>热门游戏TOP5</span> </div>
						<div class="rank-wp laybox">
							<ul class="rank-list">
								{{data name="H5游戏排行榜1"}}
								{{foreach from=$DATA['H5游戏排行榜1'].list item=item name=rank1}}
								{{if $smarty.foreach.rank1.index >= 5}}{{break}}{{/if}}
								<li {{if $smarty.foreach.rank1.first}}class="active"{{/if}}>
									{{if $smarty.foreach.rank1.index==0}} <em class="rank-1">
									{{elseif $smarty.foreach.rank1.index==1}} <em class="rank-2">
									{{elseif $smarty.foreach.rank1.index==2}} <em class="rank-3">
									{{else}} <em> {{/if}}
									{{$smarty.foreach.rank1.index+1}}</em>
									<p class="gname">{{$item.CONFIG.alias_name}}</p>
									<img src="{{$CONFIG.resource}}/images/2017/h5/icon/{{$item.ALIAS}}.png?{{$CONFIG.build}}" width="68" class="img">
									<div class="info">
										<p class="name">{{$item.CONFIG.alias_name}}</p>
										<p>{{$item.TYPE}}</p>
									</div>
									<p class="xinfo">{{$item.TYPE}}</p>
									<div class="opt">
										<a href="{{$CONFIG.app_url}}/game_card.php" title="礼包" class="gift"></a>
										<a href="{{$item.CONFIG.download_url}}" title="下载" class="down"></a>
									</div>
								</li>
								{{/foreach}}
							</ul>
						</div>
					</div>
				</div>
				<div class="g-row fix">
					<div class="gift-wp">
						<div class="g-tit"> <i class="icon icon-gift"></i> <span>热门礼包</span> </div>
						<div class="gift-box laybox">
							<ul class="gift-list">
								{{data name="热门礼包列表"}}
								{{foreach from=$DATA['热门礼包列表'].list item=item}}
								<li>
									<div class="img"><img src="" _src="{{$CONFIG.resource}}/images/2017/h5/icon/{{$item.G.ALIAS}}.png?{{$CONFIG.build}}" alt="{{$item.G.NAME}}" width="86" class="lazy-load"><i class="icon-rgift"></i></div>
									<div class="info">
										<a href="{{$CONFIG.app_url}}/game_card.php?card_type={{$item.id}}" class="name">{{$item.G.NAME}}</a>
										<div class="con">{{$item.name}}</div>
										<a href="{{$CONFIG.app_url}}/game_card.php?game={{$item.game}}&card_type={{$item.id}}" class="g-btn btn-get">领号</a>
									</div>
								</li>
								{{/foreach}}
							</ul>
							<div class="pagination" id="gamecenter-pagination"> {{$pagelist}} </div>
						</div>
					</div>
					<div class="rob-wp">
						<div class="g-tit"> <i class="icon icon-light"></i> <span>大家都在抢</span> </div>
						<ul class="rob-list laybox" id="rob-list">
							<!-- <li>
								<div class="item">
									<img src="http://cdnsource.9377.com/images/2017/h5/icon/cqll.png?20180226150217" width="68" alt="">
									<div class="info"> <p>18****11刚刚领取</p> <p>御迷狂欢礼包</p> </div>
									<a href="#" class="btn-rob">抢</a>
								</div>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{include file="h5/pc2018/footer.html"}}
	</div>
	<script>var navactive = '3';</script>
	<script type="text/javascript" src="{{$CONFIG.resource}}/js/2017/h5/pc2018/main.js?{{$CONFIG.build}}ss"></script>
</body>
</html>